*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.box{
    width: 600px;
    height: 500px;
    background:pink;
    display: flex;
    margin: auto;
     align-items:baseline;
}
.child{
 
    padding: 15px;
    text-align: center;
    background:skyblue;
    color:red;
    border:1px solid blue;

}
 
.child:nth-child(3){
    height: 200px;
}




