body {
    font-family: Georgia, Times, serif;}
    h1, h2 {
    font-family: Arial, Verdana, sans-serif;}
    .credits {
    font-family: "Courier New", Courier,
    monospace;}
    body {
        font-family: Arial, Verdana, sans-serif;
        font-size: 12px;}
        h1 {
        font-size: 200%;}
        h2 {
        font-size: 1.3em;}

        @font-face {
            font-family: 'ChunkFiveRegular';
            src: url('fonts/chunkfive.eot');}
            h1, h2 {
            font-family: ChunkFiveRegular, Georgia, serif;}   

            .credits {
                font-weight: bold;}
           
                .credits {
                    font-style: italic;}

           h1 {
           text-transform: uppercase;}
               h2 {
         text-transform: lowercase;}
    .credits {
  text-transform: capitalize;}


     .credits {
     text-decoration: underline;}
    a {
 text-decoration: none;}

      p {
  line-height: 1.4em;}

 h1, h2 {
     text-transform: uppercase;
      letter-spacing: 0.2em;}
 .credits {
     font-weight: bold;
       word-spacing: 1em;}

        h1 {
          text-align: left;}
                      
          p.one {
            background-color: #eeeeee;
            color: #666666;
            text-shadow: 1px 1px 0px #000000;}
            p.two {
            background-color: #dddddd;
            color: #666666;
            text-shadow: 1px 1px 3px #666666;}
            p.three {
            background-color: #cccccc;
            color: #ffffff;
            text-shadow: 2px 2px 7px #111111;}
            p.four {
            background-color: #bbbbbb;
            color: #cccccc;
            text-shadow: -1px -2px #666666;}
            p.five {
            background-color: #aaaaaa;
            color: darkgray;
            text-shadow: -1px -1px #666666;}

            p.intro:first-letter {
                font-size: 200%;}
                p.intro:first-line {
                font-weight: bold;
            }

                
            h1{
                background-color:gray;
                color: green;
  
            }              

li{
    color: red;

}
li.two:hover{
    color:green;
    text-decoration:underline;
    
}
input {
    padding: 6px 12px 6px 12px;
    border: 1px solid #665544;
    color:black;}
    input.submit:hover {
    background-color: #665544;}
    input.submit:active {
    background-color: black;}
    input.text {
    color: black;}
    input.text:focus {
    color: #665544;}
    div{
        height:300px;
        width:300px;
        background-color: rgba(128, 128, 128, 0.212);
    }
    p.six{
        height: 75%;
        width:75%;
        background-color:pink;
    }h2, p {
        width: 400px;
        font-size: 90%;
        line-height: 1.2em;}
        h2 {
        color: #0088dd;
        border-bottom: 1px solid #0088dd;}
        p {
        min-height: 10px;
        max-height: 30px;}
   p.one1{
       overflow:hidden;
   }
 p.two2{
     overflow:scroll;
 }

 p.oneA {border-style: solid;}
 p.twoB {border-style: dotted;}
 p.threeC {border-style: dashed;}
 p.fourD {border-style: double;}
 p.fiveE {border-style: groove;}
 p.sixF {border-style: ridge;}
 p.sevenG {border-style: inset;}
 p.eightH {border-style: outset;}

 p.nine {
    border-color: #0088dd;
}
    p.ten {
    border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}

p.m{
    width:250px;
    border:3px dotted #0088dd;

}

li{
    display:inline;
    margin-right: 10px;
}
li.coming-soon{
    display:none;
}
ol {
    list-style-type: lower-roman;}
