body {
    margin: 0;
    padding: 0;
    height: 100vh;
    border: 1px solid;
    /* display:flex; */
}
*,
*::after,
*::before {
  box-sizing: border-box;
  /* display:flex; */
}

#container{
    background-color:white;
    display: flex;
    flex-direction: row;
    /* height: 800px; */
    /* justify-content: space-between; */

}
#box-1{
    background-color:pink ;
 height: 100vh;
 /* width: 100vh; */
 flex: 1;
 border: groove;
 margin-left: 5px;

}

#box-2{
    background-color:white;
    /* height: 100vh; */
    /* width: 100vh; */
    flex: 2;
    /* border: groove; */
    margin-left: 5px;
   }
   
   #box-3{
       background-color:pink;
    height: 100vh;
    /* width: 100vh; */
    flex: 1;
    border: groove;
    margin-left: 5px;
   }
   
 #box-4{
    height: 20%;
    background-color:lightgoldenrodyellow;
    /* display: flex; */
    flex-direction:column;
    flex: 4;
    /* width: 100px; */
    border:groove;
 } 

#box-5{
    background-color: skyblue;
    height: 500px;
    border:groove;
    margin-top: 5px;
  flex:5;
  /* justify-content: space-between; */
  /* width: 100%; */
}

#box-6{
    background-color: gray;
    height: 134px;
    border:groove;
    margin-top: 5px;
flex:5;
/* justify-content: space-between; */
}

























































































