<!DOCTYPE html>
<html>
  <head>
    <title>layout</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="box-1"></div>
      <div id="content">
        <div id="box-2"></div>
        <div id="box-3"></div>
        <div id="box-4"></div>
        <!-- <div id="right-content"> -->
          <div id="3and4-parent">
        
          </div>
          <!-- <div id="box-5"></div> -->
        </div>
      </div>
      <div id="box-5"></div>
    </div>
  </body>
</html>
