*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.box{



    width: 25%;
    background-color: black;
    color: yellow;
    text-align: center;
   
    box-sizing: border-box;

}
.box{
float: left;



}

.box2{
    float:right;
}


